
.desktop-3 {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  
  background: #ffffff;
  height: 1024px;
  overflow: hidden;
}
.rectangle-13 {
  background: #d9d9d9;
  border-radius: 10px;
  width: 90px;
  height: 105px;
  position: absolute;
  left: 521px;
  top: 656px;
}
.rectangle-15 {
  background: #d9d9d9;
  border-radius: 10px;
  width: 90px;
  height: 105px;
  position: absolute;
  left: 864px;
  top: 653px;
}
.rectangle-16 {
  background: #d9d9d9;
  border-radius: 10px;
  width: 90px;
  height: 105px;
  position: absolute;
  left: 751px;
  top: 656px;
}
.rectangle-17 {
  background: #d9d9d9;
  border-radius: 10px;
  width: 90px;
  height: 105px;
  position: absolute;
  left: 636px;
  top: 656px;
}
.kvidio-auriculares-bluetooth-sobre-la-oreja {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 531px;
  top: 187px;
  width: 335px;
  height: 60px;
}
._55-horas-de-reproducci-n-auriculares-inal-mbricos-con-micr-fono-auriculares-ligeros-plegables-con-graves-profundos-sonido-est-reo-de-alta-fidelidad-para-viajes-trabajo-laptop-tel-fono-celular {
  color: #000000;
  text-align: justified;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  left: 531px;
  top: 268px;
  width: 411px;
  height: 150px;
}
.precio-recomendado-us-28-99-oferta-us-20-99 {
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  left: 528px;
  top: 383px;
  width: 423px;
  height: 79px;
}
.precio-recomendado-us-28-99-oferta-us-20-99-span {
  color: #000000;
}
.precio-recomendado-us-28-99-oferta-us-20-99-span2 {
  color: #9d9d9d;
}
.precio-recomendado-us-28-99-oferta-us-20-99-span3 {
  color: #2a497e;
}
.line-18 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 64px;
  height: 0px;
  position: absolute;
  left: 772px;
  top: 392px;
  transform-origin: 0 0;
  transform: rotate(180deg) scale(1, 1);
}
.image-4 {
  width: 79px;
  height: 94px;
  position: absolute;
  left: 526px;
  top: 660px;
  mix-blend-mode: darken;
  object-fit: cover;
  aspect-ratio: 79/94;
}
.color {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  left: 543px;
  top: 628px;
  width: 66px;
  height: 30px;
}
.marca-kvidio-color-negro-colocaci-n-en-o-do-over-ear-factor-de-forma-circumaurales-impedancia-32-ohmio {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  left: 528px;
  top: 505px;
}
.image-6 {
  width: 81px;
  height: 97px;
  position: absolute;
  left: 758px;
  top: 659px;
  mix-blend-mode: plus-darker;
  object-fit: cover;
  aspect-ratio: 81/97;
}
.image-5 {
  width: 84px;
  height: 100px;
  position: absolute;
  left: 642px;
  top: 658px;
  mix-blend-mode: plus-darker;
  object-fit: cover;
  aspect-ratio: 84/100;
}
.image-7 {
  width: 231px;
  height: 279px;
  position: absolute;
  left: 246px;
  top: 336px;
  mix-blend-mode: multiply;
  object-fit: cover;
  aspect-ratio: 231/279;
}
.image-101 {
  border-radius: 60px;
  width: 74px;
  height: 89px;
  position: absolute;
  left: 126px;
  top: 247px;
  mix-blend-mode: multiply;
  object-fit: cover;
  aspect-ratio: 74/89;
}
.image-8 {
  width: 80px;
  height: 97px;
  position: absolute;
  left: 871px;
  top: 659px;
  mix-blend-mode: plus-darker;
  object-fit: cover;
  aspect-ratio: 80/97;
}
.rectangle-12 {
  width: 422px;
  height: 49px;
  position: absolute;
  left: 705px;
  top: 25px;
}
.rectangle-122 {
  background: #ffffff;
  border-radius: 25px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  border-width: 1px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.icon-search {
  width: 1.25%;
  height: 1.51%;
  position: absolute;
  right: 23.06%;
  left: 75.69%;
  bottom: 94.49%;
  top: 4%;
  overflow: visible;
}
.account-user {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 647px;
  top: 496px;
  overflow: hidden;
}
.omnishop-icono-sin-fondo-1 {
  width: 59px;
  height: 50px;
  position: absolute;
  left: 114px;
  top: 25px;
  object-fit: cover;
}
.omnishop {
  color: #2a497e;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: 173px;
  top: 36px;
  width: 140px;
  height: 31px;
}
.component-6 {
  background: #ffffff;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  width: 117px;
  height: 35px;
  position: absolute;
  left: 336px;
  top: 37px;
}
.frame-7 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 88px;
  position: relative;
}
.categor-a {
  color: #2a497e;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 13px;
  font-weight: 700;
  position: relative;
}
.vector {
  opacity: 0.8;
  flex-shrink: 0;
  width: 7px;
  height: 4px;
  position: relative;
  overflow: visible;
}
.ayuda {
  width: 55px;
  height: 22px;
  position: absolute;
  left: 599px;
  top: 44px;
}
.ayuda2 {
  color: #2a497e;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.ofertas {
  width: 60px;
  height: 22px;
  position: absolute;
  left: 479px;
  top: 44px;
}
.ofertas2 {
  color: #2a497e;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.relacionado {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1032px;
  top: 195px;
  width: 164px;
  height: 40px;
}
.slider-filter-horizontal {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 1145px;
  top: 190px;
  overflow: visible;
}
.component-10 {
  width: 165px;
  height: 36px;
  position: absolute;
  left: 349px;
  top: 718px;
}
.rectangle-71 {
  background: #ffffff;
  border-radius: 20px;
  width: 89.7%;
  height: 97.22%;
  position: absolute;
  right: 10.3%;
  left: 0%;
  bottom: 2.78%;
  top: 0%;
}
.agregar-al-carrito {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 7.88%;
  width: 92.12%;
  bottom: 0%;
  top: 22.22%;
  height: 77.78%;
}
.image-100 {
  border-radius: 50px;
  width: 74px;
  height: 74px;
  position: absolute;
  left: 126px;
  top: 356px;
  object-fit: cover;
  aspect-ratio: 1;
}
.image-102 {
  border-radius: 50px;
  width: 75px;
  height: 75px;
  position: absolute;
  left: 125px;
  top: 450px;
  object-fit: cover;
  aspect-ratio: 1;
}
.image-103 {
  border-radius: 50px;
  width: 75px;
  height: 75px;
  position: absolute;
  left: 125px;
  top: 545px;
  object-fit: cover;
  aspect-ratio: 1;
}
.image-104 {
  border-radius: 50px;
  width: 75px;
  height: 75px;
  position: absolute;
  left: 125px;
  top: 633px;
  object-fit: cover;
  aspect-ratio: 1;
}
.image-96 {
  width: 123px;
  height: 152px;
  position: absolute;
  left: 1015px;
  top: 235px;
  object-fit: cover;
}
._9-88 {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1147px;
  top: 280px;
  width: 66px;
  height: 30px;
}
._19-88 {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1157px;
  top: 433px;
  width: 66px;
  height: 30px;
}
.image-98 {
  width: 123px;
  height: 123px;
  position: absolute;
  left: 1009px;
  top: 534px;
  object-fit: cover;
  aspect-ratio: 1;
}
._39-88 {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1136px;
  top: 586px;
  width: 76px;
  height: 30px;
}
._17-88 {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1136px;
  top: 701px;
  width: 76px;
  height: 30px;
}
.auriculares-bluetooth-sobre-la-oreja {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1145px;
  top: 247px;
  width: 200px;
}
.image-97 {
  width: 123px;
  height: 123px;
  position: absolute;
  left: 1022px;
  top: 399px;
  object-fit: cover;
  aspect-ratio: 1;
}
.zihnic-aud-fonos-bluetooth {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1159px;
  top: 399px;
  width: 186px;
}
.movssou-e-7-aud-fonos-bluetooth {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1137px;
  top: 553px;
  width: 208px;
}
.auriculares-inal-mbricos-bluetooth {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 1133px;
  top: 667px;
  width: 212px;
}
.image-99 {
  width: 123px;
  height: 123px;
  position: absolute;
  left: 1010px;
  top: 669px;
  object-fit: cover;
  aspect-ratio: 1;
}
.icon-cart {
  width: 2.08%;
  height: 2.93%;
  position: absolute;
  right: 5.56%;
  left: 92.36%;
  bottom: 93.26%;
  top: 3.81%;
  overflow: visible;
}
.vector2 {
  width: 1.39%;
  height: 2.07%;
  position: absolute;
  right: 19.44%;
  left: 79.17%;
  bottom: 93.73%;
  top: 4.2%;
  overflow: visible;
}
.mi-cuenta {
  width: 76px;
  height: 21px;
  position: absolute;
  left: 1170px;
  top: 45px;
}
.mi-cuenta2 {
  color: #2a497e;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.arrow-circle-left {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 114px;
  top: 124px;
  overflow: visible;
  aspect-ratio: 1;
}
.component-12 {
  width: 129px;
  height: 35px;
  position: absolute;
  left: 247px;
  top: 718px;
}
.rectangle-24 {
  background: #ffffff;
  border-radius: 20px;
  width: 89.15%;
  height: 100%;
  position: absolute;
  right: 10.85%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.comprar {
  color: #000000;
  text-align: left;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  right: 0%;
  left: 17.83%;
  width: 82.17%;
  bottom: 0%;
  top: 20%;
  height: 80%;
}
